doctype html
head
  title StudyGroupMe
h1 Login
form(action=url method='POST')
  | username:
  br
  input(type='text' name='username' value='')
  br
  |         password:
  br
  input(type='text' name='password' value='')
  br
  br
  input(type='submit' value='Submit')
