<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/dist/jquery.min.js"></script>
</head>

<body>

    <div id ="abc">

    </div>


    <script>

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        let alldata = null;

        $.getJSON("/all", (data) => {
            alldata = data;

            console.log(data);

            let groups = data;

            // groups = groups.filter(a_group => a_group.users.includes(getCookie("username")));

            for (let group of groups) {
                let p = document.createElement("p");

                p.innerText = JSON.stringify(group);

                document.getElementById("abc").appendChild(p);



            }





                console.log(data);
        });





    </script>
</body>

</html>