doctype html
head
  script(src="clipboard/dist/clipboard.min.js")

body
h1 Register
p
  | This app is not official yet, and we cannot access data from actual Harvard databases.
  | Please help us out by excuting this javascript code on 
  a(href='https://canvas.harvard.edu') canvas
  | .
br
a(href=url) continue
br
br
button(class="copybtn" data-clipboard-target="#copy") COPY!
br
a(href="scrapecanvas.js") copy this

script(src="copy.js")